<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bookstore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}" />
</head>
<body>
	<div style="margin: 10px auto; min-width: 800px; max-width: 1200px;">
		<h1>Add a new book</h1>
		<form action="#" th:action="@{/addbook}" th:object="${book}" method="post">
			<div class="form-group">
				<label for="author">* Author:</label>
				<input class="form-control" type="text" th:field="*{author}"/>
				<span>Required: Make it over 3 characters.</span><br>
			</div>
			<div class="form-group">
				<label for="author">* Title:</label>
				<input class="form-control" type="text" th:field="*{title}"/>
				<span>Required: Make it over 3 characters.</span><br>
			</div>
			<div class="form-group">
				<label for="author">* ISBN:</label>
				<input class="form-control" type="text" th:field="*{isbn}"/>
				<span>Required: Make it over 10 characters.</span><br>
			</div>
			<div class="form-group">
				<label for="author">Year:</label>
				<input class="form-control" type="number" th:field="*{year}"/>
			</div>
			<div th:if="${msg}" th:text="${msg}" class="alert alert-danger" role="alert">
			</div>
			<a class="btn btn-info" href="/booklist">Back</a>
			<input class="btn btn-success" type="submit" value="Add this book"/>
		</form> 
	</div>
</body>
</html>