<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bookstore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div style="margin: 10px auto; min-width: 800px; max-width: 1200px;">
		<h1>Books</h1>
		<table class="table table-striped">
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Year</th>
				<th>Category</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each = "book : ${books}">
				<td th:text="${book.author}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.year}"></td>
				<td th:if="${book.category}" th:text="${book.category.name}"></td>
				<td th:unless="${book.category}">Tuntematon</td>
				<td><a class="btn btn-info" href="#" th:href="'/edit/' + ${book.id}">Edit</a></td>
				<td><a class="btn btn-danger" href="#" th:href="'/delete/' + ${book.id}">Delete</a></td>
			</tr>
		</table>
		<a  class="btn btn-success" href="/addbook">Add book</a>
	</div>
</body>
</html>